body {
    background-color: black;
}

div {
    align-items: center;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1, p {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}

h1 {
    font-size: 3rem;
}

